# excalibur requires an older version of flask
# the older version of flask requires click<8
# pip-tools 6.10.0 was the last version to specify click<8
# so if you need to use pip-tools:
# pip install pip-tools==6.10.0

camelot-py==0.11.0
celery==5.1.2
excalibur-py==0.4.3
flask==1.1.4
markupsafe==2.0.1
pypdf2<3
waitress
